* {
    box-sizing: border-box;
}

@font-face {
    font-family: worksans;
    src: url(./src/fonts/worksans.ttf);
}

@font-face {
    font-family: spacemono;
    src: url(./src/fonts/spacemono.ttf);
}

body {
    background-color: #2B2B2B;
    padding-top: 20px;
}

.navmenu li a:hover {
    color: #A259FF !important;
}

.toggle-btn {
    color: #FFFFFF;
    background-color: #FFFFFF;
}


.navmenu li>a {
    color: #FFFFFF;
    font-family: worksans;
    text-decoration: none;
}

.navmenu {
    display: flex;
    align-items: center;

    gap: 30px;
}

.email-input {
    width: 425px;
    height: 60px;

    background: #FFFFFF;
    border-radius: 20px;
}

.sign-up-btn {
    width: 152px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    border-color: transparent;
}

.sign-up-btn button {
    width: 152px;
    height: 60px;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: worksans;
}

.hero-section {
    width: 510px;
    height: 544px;
}

.animakid {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-section-heading {
    font-family: worksans;
    color: #FFFFFF;
}

.hero-section-heading h1 {
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
}

@media only screen and (max-width: 375px) {

    .hero-section-heading>h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 140%;
    }
}

.hero-section-heading p {
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
}

@media only screen and (max-width: 375px) {

    .hero-section-heading>p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
}

.hero-section-btn {
    width: 224px;
    height: 60px;
    background: #A259FF;
    border-color: transparent;
    border-radius: 20px;
    gap: 12px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 375px) {
    .hero-section-btn {
        width: 100%;
    }
}

.additional-info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.artist-card {
    gap: 12px;
}

.trending-collection {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 375px) {
    .trending-collection {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

@media (max-width: 375px) {

    .PhotoPlaceholder1 {
        display: none !important;
    }

    .PhotoPlaceholder3 {
        display: none !important;
    }

    .PhotoPlaceholder4 {
        display: none !important;
    }
}

.section-headline h1 {
    font-family: worksans;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #FFFFFF;
}

.section-headline h3 {
    font-family: worksans;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.additional-nfts {
    width: 100px;
    height: 100px;
    background: #A259FF;
    border-radius: 20px;
}

.additional-nfts span {
    font-family: spacemono;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.collection-info {
    color: #FFFFFF;
}

@media (max-width: 375px) {

    .info1 {
        display: none !important;
    }

    .info2 {
        display: none !important;
    }

}

.top-rated-artists {
    padding-top: 80px;
    padding-bottom: 80px;
}

.keepitreal {
    position: relative;
}

.BlueWhale {
    position: relative;
}

.RustyRobot {
    position: relative;
}

.DigiLab {
    position: relative;
}

.mrfox {
    position: relative;
}

.animakid {
    position: relative;
}

.GravityOne {
    position: relative;
}

.Shroomie {
    position: relative;
}

.Dotgu {
    position: relative;
}

.Juanie {
    position: relative;
}

.robotica {
    position: relative;
}

.ranking-number {
    background: #2B2B2B;
    border-radius: 20px;
    position: absolute;

    text-align: center;

    width: 30px;
    height: 30px;

    top: 20px;
    left: 20px;
}

.ranking-number>span {
    color: #858584;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-family: spacemono;
}

@media (max-width: 375px) {
    .top-rated-artists {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .ranking-number {
        top: 12px;
        left: 12px;
    }
}

@media (max-width: 375px) {

    .RustyRobot {
        display: none !important;
    }

    .mrfox {
        display: none !important;
    }

    .animakid {
        display: none !important;
    }

    .Shroomie {
        display: none !important;
    }

    .Dotgu {
        display: none !important;
    }

    .robotica {
        display: none !important;
    }

    .keepitreal {
        display: flex;
        align-items: center;
    }

    .keepitreal-img {
        /* margin-bottom: 20px; */
    }

    @media (max-width: 375px) {
        .keepitreal {
            width: 100% !important;
            height: 100px !important;
            padding: 20px;
        }

        .keepitreal-img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }

        .Keepitreal-box>h3 {
            text-align: left !important;
        }

    }

    .BlueWhale {
        display: flex;
        align-items: center;
    }

    .DigiLab {
        display: flex;
        align-items: center;
    }

    .GravityOne {
        display: flex;
        align-items: center;
    }

    .Juanie {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 375px) {

    .browse-categories {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

.browse-categories {
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-image {
    filter: blur(7.5px);
}

/* .blur-box {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellow;
    filter: blur(7.5px);
    top: 0;
    z-index: 1;
} */

.top-creators h1 {
    font-family: worksans;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    color: #FFFFFF;
}

.top-creators span {
    font-family: worksans;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.view-rankings-btn {
    width: 247px;
    height: 60px;
    border: 2px solid #A259FF;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #A259FF;
    gap: 12px;
}

.btn-text span {
    font-family: worksans;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.discover-more-nfts {
    padding-top: 80px;
}

@media (max-width: 375px) {

    .discover-more-nfts {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    /* .discover-more-nfts-col1 {
        margin-bottom: 10px !important;
    } */
}



.artist-card-1 {
    width: 100%;
    height: 238px;
    background: #3B3B3B;
    border-radius: 20px;
}

.category-card {
    width: 240px;
    height: 76px;
    padding-left: 30px;
    padding-top: 20px;
    background: #3B3B3B;
}

.discover-more-nfts {
    padding-bottom: 80px;
}

.discover-btn {
    width: 187px;
    height: 60px;
    border: 2px solid #A259FF;
    border-radius: 20px;
    background-color: transparent;
}

.nft-card {
    background: #3B3B3B;
    border-radius: 20px;
}

.nft-card-nft-info {
    padding: 30px;
}

.artist-avatar {
    width: 270px;
    height: 24px;
    gap: 12px;
}

.distantgalaxy-add-info {
    margin-top: 27px;
}

.nft-highlight {
    background-image: url(./src/img/NFTInfo.png);
    padding-top: 360px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 375px) {

    .nft-highlight {
        background-image: url(./src/img/NFT_Highlightmobile.png);
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

.info-card {
    background: #3B3B3B;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 375px) {

    .info-card {
        display: flex;
        align-items: center;
    }

    .walleticon {
        width: 100px;
        height: 100px;
    }
}

.shroomie-box {
    width: 151px;
    height: 44px;
    background: #3B3B3B;
    border-radius: 20px;
}

.nft-info-btn {
    width: 198px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 20px;
    border-color: transparent;
}

.auction-timer {
    width: 295px;
    height: 144px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    flex-direction: column;
}

.how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 375px) {

    .how-it-works {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

.subscribe-form {
    width: 425px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
}


.subscribe-widget {
    background: #3B3B3B;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
}

@media (max-width: 375px) {

    .subscribe-widget {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .subscribephoto {
        width: 315px !important;
        height: 255px !important;
    }
}

.subscribe-btn {
    width: 100%;
    /* height: 60px; */
    background: #A259FF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}

.email-input {
    padding: 20px;
    border-color: transparent;
}

.footer {
    background-color: #3B3B3B;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-nft-marketplace {
    width: 238px;
    height: 44px;
}

.footer-icons {
    width: 158px;
    height: 32px;
}

.footer-explore {
    width: 133px;
    height: 106px;
}

.footer-explore-pages>a {
    font-family: worksans;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
    text-decoration: none;
}

.email-input1 {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-color: transparent;
    border-radius: 20px;
    padding-left: 20px;
}